<div id="footer" class="container">
    <div>
        <b><a href="https://github.com/shaarli/Shaarli">Shaarli</a></b>
        {if="$is_logged_in"} v{$version}{/if}
         - {'The personal, minimalist, super-fast, database free, bookmarking service'|t} {'by the Shaarli community'|t}
        {if="$is_logged_in"} - <a href="{$root_path}/doc/html/index.html" rel="nofollow">{'Documentation'|t}</a>{/if}
         - Theme by <a href="https://github.com/kalvn">kalvn</a>,
	<a href="https://codeberg.org/locness3/Shaarli-Theme">modified</a> by me
    </div>
    <div>
        {loop="$plugins_footer.text"}
            {$value}
        {/loop}
    </div>
    {loop="$plugins_footer.endofpage"}
        {$value}
    {/loop}
    {if="$newVersion"}
        <div id="newversion"><span id="version_id">&#x25CF;</span> Shaarli {$newVersion} <a href="https://github.com/shaarli/Shaarli/releases">{'is available'|t}</a>.</div>
    {/if}
    {if="isset($versionError) && $versionError"}
    <div id="newversion">
        Error: {$versionError}
    </div>
    {/if}

    <input type="hidden" name="token" value="{$token}" id="token" />
</div>

{if="$is_logged_in"}
	<script src="{$asset_path}/dist/admin.bundle.js?v={$version_hash}#"></script>
{/if}
{if="!$is_logged_in"}
	<script src="{$asset_path}/dist/bundle.js?v={$version_hash}#"></script>
{/if}
{loop="$plugins_footer.js_files"}
     <script src="{$root_path}/{$value}?v={$version_hash}#"></script>
{/loop}
