.card {
  position: relative;
  height: auto;
  //background: #fff;
  background: transparent;
  //box-shadow: 0 -1px 0 $color-gray-200,0 0 2px rgba(0,0,0,.12),0 2px 4px rgba(0,0,0,.24);
  margin: 15px 0 15px 0;
  border: 1px solid #073642;
  border-radius: 4px;
  transition: all $animation-speed ease-in-out;
}

.card-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: $space-m;
  background-color: rgba(255, 255, 255, .8);
  z-index: 10;
  transition: background-color $animation-speed ease-in-out;
}

.card-title,/* DEPRECATED use header instead */
.card-header,
h1.card-header {
  position: relative;
  margin: 0;
  padding: 15px;
  border-bottom: 1px solid $color-gray-300;
  @include font-body2();
  text-transform: uppercase;
}

.card-subheader {
  text-transform: initial;
  font-size: 90%;
  font-weight: normal;
  font-style: italic;
  color: $color-subtitle;
}

.card-body {
  padding: $space-m;
}

.card-footer {
  padding: 15px;
}

.card-search {
  input[type="search"]{
    padding: $space-s $space-m;
    background-color: $color-gray-hover;
    border-color: transparent;
  }
}
