.header-main .popup a{
    display: block;
}
.header-main .popup a,
.header-main .popup a:hover{
    color: $color-text;
}

/* Toolbar icon buttons */
.icon-login,
.icon-tools,
.icon-rss,
.icon-private,
.icon-private-active,
.icon-filter,
.icon-plugin,
.icon-logout{
    width: 30px;
    height: 30px;
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: center center;
    margin-top: 15px;
    margin-left: 7px;
    border-radius: 50%;

    &:focus,
    &:hover{
        background-color: rgba(255, 255, 255, .2);
    }
}
/*.icon-unfold {
    width: 2rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    border-radius: 50%;

    &:focus,
    &:hover{
        background-color: rgba(255, 255, 255, .2);
    }

    .unfold & .mdi-chevron-down {
        &:before {
            content: "\F143";
        }
    }
}*/
.icon-edit,
.icon-delete,
.icon-qrcode{
    width: 24px;
    height: 24px;
    background-size: 24px;
    background-repeat: no-repeat;
    background-position: center center;
    display: inline-block;
}

.icon-header{
    position: relative;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    margin-top: 15px;
    margin-left: 7px;
    border-radius: 50%;
    font-size: 18px;
    color: #268bd2;

    &:focus,
    &:hover{
        background-color: rgba(255, 255, 255, .2);
        color: #fff;
    }

    &.filter-on{
        color: $color-alert;
    }
}

.red-dot {
    position: absolute;
    width: 7px;
    height: 7px;
    top: 4px;
    right: 4px;
    border-radius: 50%;
    background: $color-secondary;
}


.header-main{
    width: 100%;
    min-height: 56px;
    //background-color: $color-primary;
    background-color: transparent;
    //box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);
    margin-bottom: 15px;

    //color: #fff;
    color: $color-text;
    max-height: 56px;

    z-index: 10;

    a {
        //color: #fff;
        text-decoration: none;

        &.header-brand{
            display: inline-block;
            padding: 0 15px;
            @include font-brand();
            //color: #fff;
            color: #859900;
            text-decoration: none;
            line-height: 56px;
            height: 56px;
            max-width: 100%;
            @include truncate-ellipsis();

            &:hover{
                background-color: rgba(255,255,255,.15);
            }
        }
    }

    .button-inverse {
        color: #268bd2;
        text-transform: none;
    }

    .header-nav{
        height: 56px;
    }

    .header-buttons{
        float: right;
        height: 56px;

        button{
            display: block;
        }

        & > *{
            display: block;
            float: right;
        }
    }

    .header-middle{

        a:hover{
            background-color: rgba(255, 255, 255, 0.15);
        }


    }

    .toolbar-link{
        text-align: center;
        margin: auto;

        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;

        margin-top: 10px;
        margin-bottom: 10px;
        display: inline-block;
    }

    &.unfold{
        overflow: visible;
        max-height: none;
    }

    .dark-toolbar &{
        background-color: #000;
    }
}

@media (max-width: 1199px){
    .header-main{
        overflow: hidden;
    }
}

.toolbar-button-container{
    position: relative;
}

/* Subheader */
.subheader{
    width: 100%;
    background-color: $color-primary-second;

    @extend .shadow-1;

    margin-top: -15px;
    margin-bottom: 15px;

    color: #fff;

    padding: $space-s;

    z-index: 5;

    .button,
    .button-inverse{
        display: block;
        float: left;
        color: #fff;
        margin-right: $space-t;
    }

    &.is-dark {
        background-color: $color-gray-800;
    }
}
