// Typography.
//$font-stack: 'Roboto', sans-serif;
$font-stack: "Source Code Pro", monospace;
$font-size: 16px;

@mixin font-display4(){
    font-size: 8rem;
    font-weight: 200;
}
@mixin font-display3(){
    font-size: 4rem;
    font-weight: 400;
}
@mixin font-display2(){
    font-size: 3.2rem;
    font-weight: 400;
}
@mixin font-display1(){
    font-size: 2.4rem;
    font-weight: 400;
}
@mixin font-brand(){
    font-size: 1.4rem;
    font-weight: 300;
}
@mixin font-headline(){
    font-size: 1.7rem;
    font-weight: 400;
}
@mixin font-title(){
    font-size: 1.4rem;
    font-weight: 400;
}
@mixin font-subheading(){
    font-size: 1.1rem;
    font-weight: 400;
}
@mixin font-body2(){
    font-size: 1rem;
    font-weight: 500;
}
@mixin font-body(){
    font-size: 1rem;
    font-weight: 400;
}
@mixin font-caption(){
    font-size: 0.85rem;
    font-weight: 400;
}
@mixin font-sub(){
    font-size: 0.7rem;
    font-weight: 400;
}
@mixin font-button(){
    font-size: .95rem;
    font-weight: 400;
    text-transform: uppercase;
}

@mixin truncate-ellipsis(){
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}


// Colors.
$color-primary-50: #e3f2fd;
$color-primary-100: #bbdefb;
$color-primary-200: #90caf9;
$color-primary-300: #64b5f6;
$color-primary-400: #42a5f5;
$color-primary-500: #2196f3;
$color-primary-600: #1e88e5;
$color-primary-700: #1976d2;
$color-primary-800: #1565c0;
$color-primary-900: #0d47a1;

$color-gray-100: #f8f9fa;
//solarized: $color-gray-100: #586e75;
//default $color-gray-150: #ecf0f3;
//solarized $color-gray-150: #002b36;
$color-gray-150: #001015;
$color-gray-200: #073642;
//$color-gray-200: #e0e6eb;
//$color-gray-300: #d3dce4;
$color-gray-300: #073642;
$color-gray-400: #cad3da;
$color-gray-500: #abbdcb;
$color-gray-600: #8f9eaf;
$color-gray-700: #6d7988;
$color-gray-800: #414d5a;
$color-gray-900: #252d37;

//$color-text: $color-gray-900;
//$color-text: #b58900;
$color-text: #e6b008;
//$color-primary: $color-primary-500;
$color-primary: #859900;

$color-success-50: #E8F5E9;
$color-success-100: #C8E6C9;
$color-success-200: #A5D6A7;
$color-success-300: #81C784;
$color-success-400: #66BB6A;
$color-success-500: #4CAF50;
$color-success-600: #43A047;
$color-success-700: #388E3C;
$color-success-800: #2E7D32;
$color-success-900: #1B5E20;

$color-danger-50: #FFEBEE;
$color-danger-100: #FFCDD2;
$color-danger-200: #EF9A9A;
$color-danger-300: #E57373;
$color-danger-400: #EF5350;
$color-danger-500: #F44336;
$color-danger-600: #E53935;
$color-danger-700: #D32F2F;
$color-danger-800: #C62828;
$color-danger-900: #B71C1C;

$color-warning-50: #FFF8E1;
$color-warning-100: #FFECB3;
$color-warning-200: #FFE082;
$color-warning-300: #FFD54F;
$color-warning-400: #FFCA28;
$color-warning-500: #FFC107;
$color-warning-600: #FFB300;
$color-warning-700: #FFA000;
$color-warning-800: #FF8F00;
$color-warning-900: #FF6F00;

$color-primary-second: #1976D2; //1976D2
//$color-secondary: #F44336;
$color-secondary: #cb4b16;
$color-alert: #F44336;
$color-firefox: #ea9c21;
$color-subtitle: #999;
$color-gray-light: #ddd;
$color-gray-hover: #eee;
$color-gray-hover-light: #f9f9f9;
$color-gray-active: #ddd;



$color-batch-selection: #ff9800;

$color-transparent: rgba(255, 255, 255, 0);
$color-form-active: $color-primary;
$color-button-hover: rgba(153, 153, 153, .2);
$color-button-active: rgba(100, 100, 100, .2);
$color-button-raised: #E0E0E0;
$color-button-disabled: rgba(0, 0, 0, .26);
$color-button-raised-disabled: rgba(0, 0, 0, .12);
$color-button-raised-disabled-text: rgba(0, 0, 0, .26);
// Radio Buttons
$radio-label-color: $color-text;
$radio-fill-color: $color-form-active !default;
$radio-empty-color: #5a5a5a !default;
$color-radio-disabled: #9E9E9E;
// Checkboxes
$color-checkbox-disabled: $color-radio-disabled;
// Switches
$color-switch-disabled: $color-radio-disabled;
$switch-bg-color: $color-form-active !default;
$switch-checked-lever-bg: desaturate(lighten($color-form-active, 25%), 50%) !default;
$switch-unchecked-bg: #F1F1F1 !default;
$switch-unchecked-lever-bg: #818181 !default;


// Distances.
$space-t: 5px;
$space-s: 10px;
$space-m: 15px;
$space-l: 20px;
$space-xl: 40px;


// Radius.
$radius-s: 2px;
$radius: 5px;


// Animations speed.
$animation-speed: .25s;
$animation-speed-long: 1s;
